# Basic String Processing

In [1]:
name = "bbe"

In [2]:
3 * name

'bbebbebbe'

In [3]:
"bbe" + "ali"

'bbeali'

In [4]:
"K" + name[1:]

'Kbe'

In [5]:
names =  ["ali","veli","ayse"]

In [6]:
for i in names:
    print("Name:",i, sep='')

Name:ali
Name:veli
Name:ayse

In [7]:
for i in names:
    print("_", i, sep = "")

_ali
_veli
_ayse

In [8]:
print(*enumerate(names))

(0, 'ali') (1, 'veli') (2, 'ayse')

In [9]:
for i in enumerate(names):
    print(i)

(0, 'ali')
(1, 'veli')
(2, 'ayse')

In [10]:
for i in enumerate("names"):
    print(i)

(0, 'n')
(1, 'a')
(2, 'm')
(3, 'e')
(4, 's')

In [11]:
for i in enumerate(names,4):
    print(i)

(4, 'ali')
(5, 'veli')
(6, 'ayse')

## Type Queries in List

In [12]:
name.isalpha()

True

In [13]:
'bbe1903'.isalpha()

False

In [14]:
'123'.isnumeric()

True

In [15]:
'123'.isdigit()

True

In [16]:
'bbe23'.isalnum()

True

## Reach to Components and Component's indexes

In [17]:
name

'bbe'

In [18]:
name[0:2]

'bb'

In [19]:
name.index('e')

2

In [20]:
name.index('b') # and there is second b in index 1

0

In [21]:
name.index('b',1)

1

## Querying Beginning Characters and Finishing Characters : startswith() & endswith()

In [22]:
name = 'Bahattin Berkay Evirgen'

In [23]:
name.startswith('B')

True

In [24]:
name.endswith('N')

False

In [25]:
name.endswith('n')

True

In [26]:
#count

In [27]:
name.count('B')

2

In [28]:
#sorted

In [29]:
sorted('berkay')

['a', 'b', 'e', 'k', 'r', 'y']

In [30]:
print(*sorted('berkay'), sep='')

abekry

## Characters Divisioning

In [31]:
name

'Bahattin Berkay Evirgen'

In [32]:
name.split()

['Bahattin', 'Berkay', 'Evirgen']

In [33]:
name.split('a')

['B', 'h', 'ttin Berk', 'y Evirgen']

In [34]:
name = 'Bahattin_Berkay_Evirgen'

In [35]:
name.split('_')

['Bahattin', 'Berkay', 'Evirgen']

## Upper and Lower Character Processing

In [36]:
name.upper()

'BAHATTIN_BERKAY_EVIRGEN'

In [37]:
name.lower()

'bahattin_berkay_evirgen'

In [38]:
name.upper().lower()

'bahattin_berkay_evirgen'

In [39]:
name_b = name.upper()

In [40]:
name_b.islower()

False

In [41]:
name_b.isupper()

True

In [42]:
#capitalize & title & swapcase

In [43]:
name = 'bahattin berkay evirgen'

In [44]:
name.capitalize()

'Bahattin berkay evirgen'

In [45]:
name = name.title()

In [46]:
name.swapcase()

'bAHATTIN bERKAY eVIRGEN'

## Getting Out Undesired Characters

In [47]:
text = '__hello'

In [48]:
text.strip()

'__hello'

In [49]:
text = '**hello'

In [50]:
text.strip()

'**hello'

In [51]:
text.strip('*')

'hello'

In [52]:
text = '**hello**'

In [53]:
text.rstrip('*')

'**hello'

In [54]:
text.lstrip('*')

'hello**'

## Combining Divided Expressions

In [55]:
name

'Bahattin Berkay Evirgen'

In [56]:
splitted = name.split()
splitted

['Bahattin', 'Berkay', 'Evirgen']

In [57]:
joiner = ' '

In [58]:
joiner.join(splitted)

'Bahattin Berkay Evirgen'

In [59]:
joiner = '****'

In [60]:
joiner.join(splitted)

'Bahattin****Berkay****Evirgen'

## Component Switching

In [61]:
name

'Bahattin Berkay Evirgen'

In [62]:
name.replace('B','S')

'Sahattin Serkay Evirgen'

In [63]:
name.replace('Bah', 'Sat')

'Satattin Berkay Evirgen'

In [64]:
phrase = 'There is some Turkish characters like ü ğ ç ö in this phrase'
phrase

'There is some Turkish characters like ü ğ ç ö in this phrase'

In [65]:
letters_to_editing = 'üğçö'
letters_edited = 'ugco'

In [66]:
alphabet_edit = str.maketrans(letters_to_editing, letters_edited)

In [67]:
phrase.translate(alphabet_edit)

'There is some Turkish characters like u g c o in this phrase'

## Contains

In [68]:
import pandas as pd

In [69]:
names = ["ayse","Ayşe","ali","aali","Ali","veli","mehmet","berkcan"]
v = pd.Series(names)

In [70]:
v

0       ayse
1       Ayşe
2        ali
3       aali
4        Ali
5       veli
6     mehmet
7    berkcan
dtype: object

In [71]:
v.str.contains("al")

0    False
1    False
2     True
3     True
4    False
5    False
6    False
7    False
dtype: bool

In [72]:
v[v.str.contains("al")]

2     ali
3    aali
dtype: object

In [73]:
v.str.contains("al").sum()

2

In [74]:
v.str.contains("[aA]li").sum()

3

# Introduction to Text Mining and Natural Language Processing

## Text Preprocessing

In [77]:
text = """
A Scandal in Bohemia! 01
The Red-headed League,2
A Case, of Identity 33
The Boscombe Valley Mystery4
The Five Orange Pips1
The Man with? the Twisted Lip
The Adventure of the Blue Carbuncle
The Adventure of the Speckled Band
The Adventure of the Engineer's Thumb
The Adventure of the Noble Bachelor
The Adventure of the Beryl Coronet
The Adventure of the Copper Beeches"""

text

"\nA Scandal in Bohemia! 01\nThe Red-headed League,2\nA Case, of Identity 33\nThe Boscombe Valley Mystery4\nThe Five Orange Pips1\nThe Man with? the Twisted Lip\nThe Adventure of the Blue Carbuncle\nThe Adventure of the Speckled Band\nThe Adventure of the Engineer's Thumb\nThe Adventure of the Noble Bachelor\nThe Adventure of the Beryl Coronet\nThe Adventure of the Copper Beeches"

In [ ]:
#converting string to dataframe

In [78]:
text.split()

['A',
 'Scandal',
 'in',
 'Bohemia!',
 '01',
 'The',
 'Red-headed',
 'League,2',
 'A',
 'Case,',
 'of',
 'Identity',
 '33',
 'The',
 'Boscombe',
 'Valley',
 'Mystery4',
 'The',
 'Five',
 'Orange',
 'Pips1',
 'The',
 'Man',
 'with?',
 'the',
 'Twisted',
 'Lip',
 'The',
 'Adventure',
 'of',
 'the',
 'Blue',
 'Carbuncle',
 'The',
 'Adventure',
 'of',
 'the',
 'Speckled',
 'Band',
 'The',
 'Adventure',
 'of',
 'the',
 "Engineer's",
 'Thumb',
 'The',
 'Adventure',
 'of',
 'the',
 'Noble',
 'Bachelor',
 'The',
 'Adventure',
 'of',
 'the',
 'Beryl',
 'Coronet',
 'The',
 'Adventure',
 'of',
 'the',
 'Copper',
 'Beeches']

In [79]:
text.split('\n')

['',
 'A Scandal in Bohemia! 01',
 'The Red-headed League,2',
 'A Case, of Identity 33',
 'The Boscombe Valley Mystery4',
 'The Five Orange Pips1',
 'The Man with? the Twisted Lip',
 'The Adventure of the Blue Carbuncle',
 'The Adventure of the Speckled Band',
 "The Adventure of the Engineer's Thumb",
 'The Adventure of the Noble Bachelor',
 'The Adventure of the Beryl Coronet',
 'The Adventure of the Copper Beeches']

In [81]:
v_text = text.split('\n')

In [82]:
v = pd.Series(v_text)

In [83]:
v

0
1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [84]:
text_vector = v[1:len(v)]

In [85]:
text_vector

1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [98]:
tdf = pd.DataFrame(text_vector, columns = ['Stories'])

In [99]:
tdf

                                  Stories
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

## Uppercase and Lowercase

In [100]:
c_tdf = tdf.copy()

In [101]:
list1 = [1,2,3]

In [102]:
str1 = ' '.join(str(i) for i in list1)

In [103]:
str1

'1 2 3'

In [112]:
c_tdf['Stories']

1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
Name: Stories, dtype: object

In [110]:
c_tdf['Stories'].apply(lambda x:' '.join(x.lower() for x in x.split()))

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: Stories, dtype: object

In [111]:
c_tdf['Stories'].apply(lambda x:''.join(x.lower()))

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: Stories, dtype: object

## Deleting Punctutations

In [115]:
c_tdf

                                  Stories
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

In [122]:
cc_tdf = c_tdf.copy()

In [123]:
c_tdf = c_tdf['Stories'].str.replace('[^\w\s]','')

## Deleting Numbers

In [127]:
c_tdf.str.replace('\d','')

1                    A Scandal in Bohemia
2                     The Redheaded League
3                      A Case of Identity
4              The Boscombe Valley Mystery
5                     The Five Orange Pips
6             The Man with the Twisted Lip
7      The Adventure of the Blue Carbuncle
8       The Adventure of the Speckled Band
9     The Adventure of the Engineers Thumb
10     The Adventure of the Noble Bachelor
11      The Adventure of the Beryl Coronet
12     The Adventure of the Copper Beeches
Name: Stories, dtype: object