# Basic String Processing

In [271]:
name = "bbe"

In [272]:
3 * name

'bbebbebbe'

In [273]:
"bbe" + "ali"

'bbeali'

In [274]:
"K" + name[1:]

'Kbe'

In [275]:
names =  ["ali","veli","ayse"]

In [276]:
for i in names:
    print("Name:",i, sep='')

Name:ali
Name:veli
Name:ayse

In [277]:
for i in names:
    print("_", i, sep = "")

_ali
_veli
_ayse

In [278]:
print(*enumerate(names))

(0, 'ali') (1, 'veli') (2, 'ayse')

In [279]:
for i in enumerate(names):
    print(i)

(0, 'ali')
(1, 'veli')
(2, 'ayse')

In [280]:
for i in enumerate("names"):
    print(i)

(0, 'n')
(1, 'a')
(2, 'm')
(3, 'e')
(4, 's')

In [281]:
for i in enumerate(names,4):
    print(i)

(4, 'ali')
(5, 'veli')
(6, 'ayse')

## Type Queries in List

In [282]:
name.isalpha()

True

In [283]:
'bbe1903'.isalpha()

False

In [284]:
'123'.isnumeric()

True

In [285]:
'123'.isdigit()

True

In [286]:
'bbe23'.isalnum()

True

## Reach to Components and Component's indexes

In [287]:
name

'bbe'

In [288]:
name[0:2]

'bb'

In [289]:
name.index('e')

2

In [290]:
name.index('b') # and there is second b in index 1

0

In [291]:
name.index('b',1)

1

## Querying Beginning Characters and Finishing Characters : startswith() & endswith()

In [292]:
name = 'Bahattin Berkay Evirgen'

In [293]:
name.startswith('B')

True

In [294]:
name.endswith('N')

False

In [295]:
name.endswith('n')

True

In [296]:
#count

In [297]:
name.count('B')

2

In [298]:
#sorted

In [299]:
sorted('berkay')

['a', 'b', 'e', 'k', 'r', 'y']

In [300]:
print(*sorted('berkay'), sep='')

abekry

## Characters Divisioning

In [301]:
name

'Bahattin Berkay Evirgen'

In [302]:
name.split()

['Bahattin', 'Berkay', 'Evirgen']

In [303]:
name.split('a')

['B', 'h', 'ttin Berk', 'y Evirgen']

In [304]:
name = 'Bahattin_Berkay_Evirgen'

In [305]:
name.split('_')

['Bahattin', 'Berkay', 'Evirgen']

## Upper and Lower Character Processing

In [306]:
name.upper()

'BAHATTIN_BERKAY_EVIRGEN'

In [307]:
name.lower()

'bahattin_berkay_evirgen'

In [308]:
name.upper().lower()

'bahattin_berkay_evirgen'

In [309]:
name_b = name.upper()

In [310]:
name_b.islower()

False

In [311]:
name_b.isupper()

True

In [312]:
#capitalize & title & swapcase

In [313]:
name = 'bahattin berkay evirgen'

In [314]:
name.capitalize()

'Bahattin berkay evirgen'

In [315]:
name = name.title()

In [316]:
name.swapcase()

'bAHATTIN bERKAY eVIRGEN'

## Getting Out Undesired Characters

In [317]:
text = '__hello'

In [318]:
text.strip()

'__hello'

In [319]:
text = '**hello'

In [320]:
text.strip()

'**hello'

In [321]:
text.strip('*')

'hello'

In [322]:
text = '**hello**'

In [323]:
text.rstrip('*')

'**hello'

In [324]:
text.lstrip('*')

'hello**'

## Combining Divided Expressions

In [325]:
name

'Bahattin Berkay Evirgen'

In [326]:
splitted = name.split()
splitted

['Bahattin', 'Berkay', 'Evirgen']

In [327]:
joiner = ' '

In [328]:
joiner.join(splitted)

'Bahattin Berkay Evirgen'

In [329]:
joiner = '****'

In [330]:
joiner.join(splitted)

'Bahattin****Berkay****Evirgen'

## Component Switching

In [331]:
name

'Bahattin Berkay Evirgen'

In [332]:
name.replace('B','S')

'Sahattin Serkay Evirgen'

In [333]:
name.replace('Bah', 'Sat')

'Satattin Berkay Evirgen'

In [334]:
phrase = 'There is some Turkish characters like ü ğ ç ö in this phrase'
phrase

'There is some Turkish characters like ü ğ ç ö in this phrase'

In [335]:
letters_to_editing = 'üğçö'
letters_edited = 'ugco'

In [336]:
alphabet_edit = str.maketrans(letters_to_editing, letters_edited)

In [337]:
phrase.translate(alphabet_edit)

'There is some Turkish characters like u g c o in this phrase'

## Contains

In [338]:
import pandas as pd

In [339]:
names = ["ayse","Ayşe","ali","aali","Ali","veli","mehmet","berkcan"]
v = pd.Series(names)

In [340]:
v

0       ayse
1       Ayşe
2        ali
3       aali
4        Ali
5       veli
6     mehmet
7    berkcan
dtype: object

In [341]:
v.str.contains("al")

0    False
1    False
2     True
3     True
4    False
5    False
6    False
7    False
dtype: bool

In [342]:
v[v.str.contains("al")]

2     ali
3    aali
dtype: object

In [343]:
v.str.contains("al").sum()

2

In [344]:
v.str.contains("[aA]li").sum()

3

# Introduction to Text Mining and Natural Language Processing

## Text Preprocessing

In [345]:
text = """
A Scandal in Bohemia! 01
The Red-headed League,2
A Case, of Identity 33
The Boscombe Valley Mystery4
The Five Orange Pips1
The Man with? the Twisted Lip
The Adventure of the Blue Carbuncle
The Adventure of the Speckled Band
The Adventure of the Engineer's Thumb
The Adventure of the Noble Bachelor
The Adventure of the Beryl Coronet
The Adventure of the Copper Beeches"""

text

"\nA Scandal in Bohemia! 01\nThe Red-headed League,2\nA Case, of Identity 33\nThe Boscombe Valley Mystery4\nThe Five Orange Pips1\nThe Man with? the Twisted Lip\nThe Adventure of the Blue Carbuncle\nThe Adventure of the Speckled Band\nThe Adventure of the Engineer's Thumb\nThe Adventure of the Noble Bachelor\nThe Adventure of the Beryl Coronet\nThe Adventure of the Copper Beeches"

In [346]:
#converting string to dataframe

In [347]:
text.split()

['A',
 'Scandal',
 'in',
 'Bohemia!',
 '01',
 'The',
 'Red-headed',
 'League,2',
 'A',
 'Case,',
 'of',
 'Identity',
 '33',
 'The',
 'Boscombe',
 'Valley',
 'Mystery4',
 'The',
 'Five',
 'Orange',
 'Pips1',
 'The',
 'Man',
 'with?',
 'the',
 'Twisted',
 'Lip',
 'The',
 'Adventure',
 'of',
 'the',
 'Blue',
 'Carbuncle',
 'The',
 'Adventure',
 'of',
 'the',
 'Speckled',
 'Band',
 'The',
 'Adventure',
 'of',
 'the',
 "Engineer's",
 'Thumb',
 'The',
 'Adventure',
 'of',
 'the',
 'Noble',
 'Bachelor',
 'The',
 'Adventure',
 'of',
 'the',
 'Beryl',
 'Coronet',
 'The',
 'Adventure',
 'of',
 'the',
 'Copper',
 'Beeches']

In [348]:
text.split('\n')

['',
 'A Scandal in Bohemia! 01',
 'The Red-headed League,2',
 'A Case, of Identity 33',
 'The Boscombe Valley Mystery4',
 'The Five Orange Pips1',
 'The Man with? the Twisted Lip',
 'The Adventure of the Blue Carbuncle',
 'The Adventure of the Speckled Band',
 "The Adventure of the Engineer's Thumb",
 'The Adventure of the Noble Bachelor',
 'The Adventure of the Beryl Coronet',
 'The Adventure of the Copper Beeches']

In [349]:
v_text = text.split('\n')

In [350]:
v = pd.Series(v_text)

In [351]:
v

0
1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [352]:
text_vector = v[1:len(v)]

In [353]:
text_vector

1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [354]:
tdf = pd.DataFrame(text_vector, columns = ['Stories'])

In [355]:
tdf

                                  Stories
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

## Uppercase and Lowercase

In [356]:
c_tdf = tdf.copy()

In [357]:
list1 = [1,2,3]

In [358]:
str1 = ' '.join(str(i) for i in list1)

In [359]:
str1

'1 2 3'

In [360]:
c_tdf['Stories']

1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
Name: Stories, dtype: object

In [361]:
c_tdf['Stories'].apply(lambda x:' '.join(x.lower() for x in x.split()))

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: Stories, dtype: object

In [362]:
c_tdf['Stories'].apply(lambda x:''.join(x.lower()))

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: Stories, dtype: object

## Deleting Punctutations

In [363]:
c_tdf

                                  Stories
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

In [364]:
cc_tdf = c_tdf.copy()

In [365]:
c_tdf = c_tdf['Stories'].str.replace('[^\w\s]','')

## Deleting Numbers

In [366]:
c_tdf.str.replace('\d','')

1                    A Scandal in Bohemia
2                     The Redheaded League
3                      A Case of Identity
4              The Boscombe Valley Mystery
5                     The Five Orange Pips
6             The Man with the Twisted Lip
7      The Adventure of the Blue Carbuncle
8       The Adventure of the Speckled Band
9     The Adventure of the Engineers Thumb
10     The Adventure of the Noble Bachelor
11      The Adventure of the Beryl Coronet
12     The Adventure of the Copper Beeches
Name: Stories, dtype: object

## Stopwords

In [367]:
import nltk
from nltk.corpus import stopwords

In [368]:
ccc_tdf = cc_tdf.copy()

In [369]:
ccc_tdf

                                  Stories
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

In [370]:
#!pip install nltk

In [371]:
#nltk.download('stopwords')

In [372]:
sw = stopwords.words('english')

In [373]:
sw

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [402]:
cc_tdf = pd.DataFrame(cc_tdf, columns = ['Stories'])

In [404]:
cc_tdf = cc_tdf['Stories'].apply(lambda x: " ".join(x.lower() for x in x.split() if x not in sw)).str.replace('\d','').str.replace('[^\w\s]','')

In [405]:
cc_tdf

1               scandal bohemia
2              redheaded league
3                 case identity
4       boscombe valley mystery
5              five orange pips
6               man twisted lip
7      adventure blue carbuncle
8       adventure speckled band
9     adventure engineers thumb
10     adventure noble bachelor
11      adventure beryl coronet
12     adventure copper beeches
Name: Stories, dtype: object

## Deleting Less Recently Words

In [406]:
type(cc_tdf)

pandas.core.series.Series

In [407]:
cc_tdf = pd.DataFrame(cc_tdf, columns = ['Stories'])

In [408]:
cc_tdf

                      Stories
1             scandal bohemia
2            redheaded league
3               case identity
4     boscombe valley mystery
5            five orange pips
6             man twisted lip
7    adventure blue carbuncle
8     adventure speckled band
9   adventure engineers thumb
10   adventure noble bachelor
11    adventure beryl coronet
12   adventure copper beeches

In [409]:
pd.Series(''.join(cc_tdf['Stories']).split()).value_counts()

pipsman               1
engineers             1
bandadventure         1
coronetadventure      1
beryl                 1
speckled              1
mysteryfive           1
valley                1
lipadventure          1
twisted               1
leaguecase            1
blue                  1
bohemiaredheaded      1
noble                 1
orange                1
copper                1
identityboscombe      1
beeches               1
scandal               1
carbuncleadventure    1
thumbadventure        1
bacheloradventure     1
dtype: int64

In [410]:
delete = pd.Series(''.join(cc_tdf['Stories']).split()).value_counts()[-3:]

In [411]:
delete

carbuncleadventure    1
thumbadventure        1
bacheloradventure     1
dtype: int64

In [414]:
cc_tdf

                      Stories
1             scandal bohemia
2            redheaded league
3               case identity
4     boscombe valley mystery
5            five orange pips
6             man twisted lip
7    adventure blue carbuncle
8     adventure speckled band
9   adventure engineers thumb
10   adventure noble bachelor
11    adventure beryl coronet
12   adventure copper beeches

## Tokenization

In [415]:
#nltk.download('punkt')

In [416]:
#!pip install textblob

In [417]:
import textblob
from textblob import TextBlob

In [419]:
cc_tdf

                      Stories
1             scandal bohemia
2            redheaded league
3               case identity
4     boscombe valley mystery
5            five orange pips
6             man twisted lip
7    adventure blue carbuncle
8     adventure speckled band
9   adventure engineers thumb
10   adventure noble bachelor
11    adventure beryl coronet
12   adventure copper beeches

In [421]:
TextBlob(cc_tdf['Stories'][1]).words # to split to word list

WordList(['scandal', 'bohemia'])

In [422]:
cc_tdf = pd.DataFrame(cc_tdf, columns = ['Stories'])

In [423]:
cc_tdf['Stories'].apply(lambda x : TextBlob(x).words)

1                [scandal, bohemia]
2               [redheaded, league]
3                  [case, identity]
4       [boscombe, valley, mystery]
5              [five, orange, pips]
6               [man, twisted, lip]
7      [adventure, blue, carbuncle]
8       [adventure, speckled, band]
9     [adventure, engineers, thumb]
10     [adventure, noble, bachelor]
11      [adventure, beryl, coronet]
12     [adventure, copper, beeches]
Name: Stories, dtype: object

## Stemming

In [424]:
from nltk.stem import PorterStemmer

In [425]:
st = PorterStemmer()

In [428]:
cc_tdf['Stories'].apply(lambda x : ' '.join([st.stem(i) for i in x.split()]))

1            scandal bohemia
2              redhead leagu
3                 case ident
4     boscomb valley mysteri
5             five orang pip
6              man twist lip
7     adventur blue carbuncl
8       adventur speckl band
9       adventur engin thumb
10    adventur nobl bachelor
11    adventur beryl coronet
12     adventur copper beech
Name: Stories, dtype: object

## Lemmatization

In [429]:
from textblob import Word

In [431]:
#nltk.download("wordnet")

In [434]:
cc_tdf = pd.DataFrame(cc_tdf, columns = ['Stories'])

In [461]:
cc_tdf = cc_tdf["Stories"].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

In [462]:
tdf.head()

                        Stories
1      A Scandal in Bohemia! 01
2       The Red-headed League,2
3        A Case, of Identity 33
4  The Boscombe Valley Mystery4
5         The Five Orange Pips1

In [463]:
cc_tdf[0:5]

1            scandal bohemia
2           redheaded league
3              case identity
4    boscombe valley mystery
5            five orange pip
Name: Stories, dtype: object

# NLP Practices

## N-Gram

In [440]:
a = """Bu örneği anlaşılabilmesi için daha uzun bir metin üzerinden göstereceğim.
N-gram'lar birlikte kullanılan kelimelerin kombinasyolarını gösterir"""

In [447]:
TextBlob(a).ngrams(3)

[WordList(['Bu', 'örneği', 'anlaşılabilmesi']),
 WordList(['örneği', 'anlaşılabilmesi', 'için']),
 WordList(['anlaşılabilmesi', 'için', 'daha']),
 WordList(['için', 'daha', 'uzun']),
 WordList(['daha', 'uzun', 'bir']),
 WordList(['uzun', 'bir', 'metin']),
 WordList(['bir', 'metin', 'üzerinden']),
 WordList(['metin', 'üzerinden', 'göstereceğim']),
 WordList(['üzerinden', 'göstereceğim', "N-gram'lar"]),
 WordList(['göstereceğim', "N-gram'lar", 'birlikte']),
 WordList(["N-gram'lar", 'birlikte', 'kullanılan']),
 WordList(['birlikte', 'kullanılan', 'kelimelerin']),
 WordList(['kullanılan', 'kelimelerin', 'kombinasyolarını']),
 WordList(['kelimelerin', 'kombinasyolarını', 'gösterir'])]

## Part of speech tagging (POS)

In [449]:
#nltk.download("averaged_perceptron_tagger")

In [452]:
cc_tdf

                      Stories
1             scandal bohemia
2            redheaded league
3               case identity
4     boscombe valley mystery
5            five orange pips
6             man twisted lip
7    adventure blue carbuncle
8     adventure speckled band
9   adventure engineers thumb
10   adventure noble bachelor
11    adventure beryl coronet
12   adventure copper beeches

In [465]:
TextBlob(cc_tdf[2]).tags

[('redheaded', 'VBN'), ('league', 'NN')]

In [467]:
pos = cc_tdf.apply(lambda x: TextBlob(x).tags)

In [468]:
pos

1                     [(scandal, NN), (bohemia, NN)]
2                   [(redheaded, VBN), (league, NN)]
3                       [(case, NN), (identity, NN)]
4      [(boscombe, NN), (valley, NN), (mystery, NN)]
5              [(five, CD), (orange, NN), (pip, NN)]
6             [(man, NN), (twisted, VBD), (lip, NN)]
7     [(adventure, NN), (blue, JJ), (carbuncle, NN)]
8     [(adventure, NN), (speckled, VBD), (band, NN)]
9     [(adventure, NN), (engineer, NN), (thumb, NN)]
10    [(adventure, NN), (noble, JJ), (bachelor, NN)]
11     [(adventure, NN), (beryl, NN), (coronet, NN)]
12      [(adventure, NN), (copper, NN), (beech, NN)]
Name: Stories, dtype: object

## Chunking (shallow parsing)

In [469]:
pos

1                     [(scandal, NN), (bohemia, NN)]
2                   [(redheaded, VBN), (league, NN)]
3                       [(case, NN), (identity, NN)]
4      [(boscombe, NN), (valley, NN), (mystery, NN)]
5              [(five, CD), (orange, NN), (pip, NN)]
6             [(man, NN), (twisted, VBD), (lip, NN)]
7     [(adventure, NN), (blue, JJ), (carbuncle, NN)]
8     [(adventure, NN), (speckled, VBD), (band, NN)]
9     [(adventure, NN), (engineer, NN), (thumb, NN)]
10    [(adventure, NN), (noble, JJ), (bachelor, NN)]
11     [(adventure, NN), (beryl, NN), (coronet, NN)]
12      [(adventure, NN), (copper, NN), (beech, NN)]
Name: Stories, dtype: object

In [470]:
sentence = "R and Python are useful data science tools for the new or old data scientists who eager to do efficent data science task"

In [471]:
pos = TextBlob(sentence).tags

In [472]:
pos

[('R', 'NNP'),
 ('and', 'CC'),
 ('Python', 'NNP'),
 ('are', 'VBP'),
 ('useful', 'JJ'),
 ('data', 'NNS'),
 ('science', 'NN'),
 ('tools', 'NNS'),
 ('for', 'IN'),
 ('the', 'DT'),
 ('new', 'JJ'),
 ('or', 'CC'),
 ('old', 'JJ'),
 ('data', 'NNS'),
 ('scientists', 'NNS'),
 ('who', 'WP'),
 ('eager', 'VBP'),
 ('to', 'TO'),
 ('do', 'VB'),
 ('efficent', 'JJ'),
 ('data', 'NNS'),
 ('science', 'NN'),
 ('task', 'NN')]

In [473]:
reg_exp = "NP: {<DT>?<JJ>*<NN>}"
rp = nltk.RegexpParser(reg_exp)

In [474]:
results = rp.parse(pos)

In [475]:
results

The Ghostscript executable isn't found.
See http://web.mit.edu/ghostscript/www/Install.htm
If you're using a Mac, you can try installing
https://docs.brew.sh/Installation then `brew install ghostscript`

LookupError:

Tree('S', [('R', 'NNP'), ('and', 'CC'), ('Python', 'NNP'), ('are', 'VBP'), ('useful', 'JJ'), ('data', 'NNS'), Tree('NP', [('science', 'NN')]), ('tools', 'NNS'), ('for', 'IN'), ('the', 'DT'), ('new', 'JJ'), ('or', 'CC'), ('old', 'JJ'), ('data', 'NNS'), ('scientists', 'NNS'), ('who', 'WP'), ('eager', 'VBP'), ('to', 'TO'), ('do', 'VB'), ('efficent', 'JJ'), ('data', 'NNS'), Tree('NP', [('science', 'NN')]), Tree('NP', [('task', 'NN')])])

In [476]:
print(results)

(S
  R/NNP
  and/CC
  Python/NNP
  are/VBP
  useful/JJ
  data/NNS
  (NP science/NN)
  tools/NNS
  for/IN
  the/DT
  new/JJ
  or/CC
  old/JJ
  data/NNS
  scientists/NNS
  who/WP
  eager/VBP
  to/TO
  do/VB
  efficent/JJ
  data/NNS
  (NP science/NN)
  (NP task/NN))

In [479]:
results.draw()

## Named Entity Recognition

In [481]:
from nltk import word_tokenize, pos_tag, ne_chunk
#nltk.download('maxent_ne_chunker')
#nltk.download('words')

In [482]:
cumle = "Hadley is creative people who work for R Studio AND he attented conference at Newyork last year"
print(ne_chunk(pos_tag(word_tokenize(cumle))))

(S
  (GPE Hadley/NNP)
  is/VBZ
  creative/JJ
  people/NNS
  who/WP
  work/VBP
  for/IN
  (ORGANIZATION R/NNP Studio/NNP)
  AND/CC
  he/PRP
  attented/VBD
  conference/NN
  at/IN
  (ORGANIZATION Newyork/NNP)
  last/JJ
  year/NN)