## Sample Theory

In [31]:
import seaborn as sns
import numpy as np

In [32]:
population = np.random.randint(0,80,10000)

In [33]:
population[0:10]

array([ 3, 60, 36, 42, 14,  3, 19, 68, 40, 39])

In [34]:
# sampling shoot

In [35]:
np.random.seed(115)
sampling = np.random.choice(a = population, size = 100)
sampling[0:10]

array([23, 50, 76, 72, 10, 39, 33, 32, 56, 70])

In [36]:
population.mean()

39.3457

In [37]:
sampling.mean() # as we can see, sampling is so close for real data

37.38

In [38]:
# Sampling distribution

In [39]:
np.random.seed(10)

sampling1 = np.random.choice(a = population, size = 100)
sampling2 = np.random.choice(a = population, size = 100)
sampling3 = np.random.choice(a = population, size = 100)
sampling4 = np.random.choice(a = population, size = 100)
sampling5 = np.random.choice(a = population, size = 100)
sampling6 = np.random.choice(a = population, size = 100)
sampling7 = np.random.choice(a = population, size = 100)
sampling8 = np.random.choice(a = population, size = 100)
sampling9 = np.random.choice(a = population, size = 100)
sampling10 = np.random.choice(a = population, size = 100)

In [40]:
(sampling1.mean()+sampling2.mean()+sampling3.mean()+sampling4.mean()+sampling5.mean()+sampling6.mean()+sampling7.mean()+sampling8.mean()+sampling9.mean()+
sampling10.mean()) / 10 # there is more sampling data, so, closer to real data (central limit theorem)

38.879000000000005

## Descriptive Statistics

In [41]:
tips = sns.load_dataset('tips')
df = tips.copy()
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [42]:
df.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

In [43]:
# !pip install researchpy
import researchpy as rp

In [44]:
rp.summary_cont(df[['total_bill', 'tip', 'size']])

     Variable      N       Mean        SD        SE  95% Conf.   Interval
0  total_bill  244.0  19.785943  8.902412  0.569919  18.663332  20.908554
1         tip  244.0   2.998279  1.383638  0.088578   2.823799   3.172758
2        size  244.0   2.569672  0.951100  0.060888   2.449737   2.689608

In [45]:
rp.summary_cat(df[['sex', 'smoker', 'day', 'time']])

  Variable Outcome  Count  Percent
0      sex    Male    157    64.34
1           Female     87    35.66
2   smoker      No    151    61.89
3              Yes     93    38.11
4      day     Sat     87    35.66
5              Sun     76    31.15
6             Thur     62    25.41
7              Fri     19     7.79
8     time  Dinner    176    72.13
9            Lunch     68    27.87

In [46]:
df[['tip','total_bill']].cov()

                 tip  total_bill
tip         1.914455    8.323502
total_bill  8.323502   79.252939

In [47]:
df[['tip','total_bill']].corr()

                 tip  total_bill
tip         1.000000    0.675734
total_bill  0.675734    1.000000

In [48]:
df.corr()

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000

## Business Practice : Price Strategy Decision Support System

In [49]:
prices = np.random.randint(10,100,1000)
prices.mean()

53.191

In [50]:
import statsmodels.stats.api as sms

In [51]:
sms.DescrStatsW(prices).tconfint_mean()

(51.56195200752933, 54.82004799247068)

## Probability Distributions
### Bernoulli Distribution

In [52]:
from scipy.stats import bernoulli

In [53]:
p = 0.51 # heads or tails, heads prob.
rv = bernoulli(p)
rv.pmf(k = 0) # tail probability

0.49

### Law of Large Numbers
Probability Theorem, which is define a random variable's long-term stability's

In [56]:
rng = np.random.RandomState(123)
for i in np.arange(1,21):
    number_of_experiment = 2**i
    heads_or_tails = rng.randint(0, 2, size = number_of_experiment)
    tails_prob = np.mean(heads_or_tails)
    print('Number of Throw',number_of_experiment, '---', 'Tails Probability : %.2f' % (tails_prob))

Number of Throw 2 --- Tails Probability : 0.50
Number of Throw 4 --- Tails Probability : 0.00
Number of Throw 8 --- Tails Probability : 0.62
Number of Throw 16 --- Tails Probability : 0.44
Number of Throw 32 --- Tails Probability : 0.47
Number of Throw 64 --- Tails Probability : 0.56
Number of Throw 128 --- Tails Probability : 0.51
Number of Throw 256 --- Tails Probability : 0.53
Number of Throw 512 --- Tails Probability : 0.53
Number of Throw 1024 --- Tails Probability : 0.50
Number of Throw 2048 --- Tails Probability : 0.49
Number of Throw 4096 --- Tails Probability : 0.49
Number of Throw 8192 --- Tails Probability : 0.50
Number of Throw 16384 --- Tails Probability : 0.50
Number of Throw 32768 --- Tails Probability : 0.50
Number of Throw 65536 --- Tails Probability : 0.50
Number of Throw 131072 --- Tails Probability : 0.50
Number of Throw 262144 --- Tails Probability : 0.50
Number of Throw 524288 --- Tails Probability : 0.50
Number of Throw 1048576 --- Tails Probability : 0.50